body {
	background: rgb(31, 31, 31);
	color: rgb(232, 232, 232);
	height: 200vh;
	margin: 0;
	padding: 0;
	display: grid;
 	text-align: center;
	font-size: 25px;
}
.about-background {
  background: linear-gradient(135deg, #F1F199, #77DA77, #4444E6);
  height: 100vh;
  background-size: 300% 100%;
  animation: gradient 20s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.side-by-side {
  display: inline;
}
.bar {
  background: #FF44FF;
  height: 5vh;
}
