body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	background: linear-gradient(90deg, #DDDD0066, #00BB0088, #0000DDBB);
	color: rgba(31, 31, 31, 1);
	background-size: 300% 100%;
	animation: gradient 20s ease infinite;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: grid;
 	text-align: center;
	font-size: 25px;
}
body::-webkit-scrollbar {
  display: none;
}
input {
  text-align: center;
	background: rgba(31, 31, 31, 1);
	color: rgba(232, 232, 232, 1);
	font-size: 25px;
}
button {
  text-align: center;
	background: rgba(31, 31, 31, 1);
	color: rgba(232, 232, 232, 1);
	font-size: 25px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
