h1 {
  margin-bottom: 0.1em;
}
h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 0 auto 5em auto;
}
textarea {
  background-color: rgba(31, 31, 31, 1);
  color: rgba(232, 232, 232, 1);
  border-radius: 40px;
  background: linear-gradient(145deg, #1c1c1c, #212121);
  box-shadow:  5px 5px 20px #151515,
              -5px -5px 20px #292929;
  border: none;
  padding: 15px 32px;
  resize: none;
}
.arrow {
  font-size: 2.0em;
  font-weight: bold;
  margin: 0;
}
.warning {
  background-color: orange;
  padding: 0.4em 0.75em;
}

.rot {
  border-radius: 40px;
  background: linear-gradient(145deg, #1c1c1c, #212121);
  box-shadow:  5px 5px 20px #151515,
              -5px -5px 20px #292929;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.rot:active {
  color: rgba(255, 255, 255, 0.5);
}
