:root {
	/*tertiary*/
	--t: #77da77;
	/*hovered-tertiary*/
	--ht: #479647;
	/*black*/
	--b: #1f1f1f;
	/*white*/
	--w: #e8e8e8;

}
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background-color: var(--b);
	color: var(--w);
	font-weight: 400;
}
footer, header {
	height: 10vh;
}
a {
	color: var(--t);
}
a:visited {
	color: var(--ht);
}
  
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
body::-webkit-scrollbar {
	display: none;
}
* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
p {
	font-size: calc(20px + 1vmin);
}
.header__OVZyn {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: var(--t);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header__OVZyn h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: var(--b);
}

@media only screen and (max-width: 550px) {
	.header__OVZyn nav {
		display: none;
	}
}
.header__OVZyn nav {
	float: right;
	font-size: 100%;
}

.header__OVZyn nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: var(--b);
	will-change: background-color;
}

.header__OVZyn nav a:hover,
.header__OVZyn nav a:active {
	background: rgba(0,0,0,0.2);
}

.home__uRcqa {
	padding: 56px 20px;
	width: 100%;
}
.showcase__R8tAi {
	box-sizing: unset;
	font-size: calc(30px + 1vmin);
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 30px 30px;
	width: calc(200px + 10vw);
	height: calc(200px + 10vw);
	margin: max(5vh, 30px) 2vw;
	border-radius: 50px;
	box-shadow: calc(10px + 0.5vw) calc(10px + 0.5vw) calc((200px + 10vw) / 12) #171717, calc(-10px - 0.5vw) calc(-10px - 0.5vw) calc((200px + 10vw) / 12) #272727;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.showcase__R8tAi .desc__dbAJB {
	font-size: min(calc(25px + 1vmin), calc(13px + 1vw));
}
.showcase__R8tAi button {
	border: 0;
	-ms-flex-item-align: stretch;
	    align-self: stretch;
	width: 100px;
	min-height: 60px;
	background: #77da77;
	border-radius: 25px;
	transition: 0.35s;
}
.showcase__R8tAi .link__I2jZf {
	margin-left: auto;
}
.showcase__R8tAi button:hover {
	background: var(--ht);
	transition: 0.35s;
}

.searchbar__gYPpE {
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.searchbar__gYPpE input {
	font-size: calc(13px + 0.5vw);
	padding: 10px 15px;
	border-radius: 20px 0 0 20px;
	border: 0;
	outline: none;
}
.searchbar__gYPpE button {
	background-color: #FFFFFF;
	border-radius: 0 20px 20px 0;
	border: 0;
	outline: none;
	padding-right: 12px;
	padding-top: 5px;
}
.searchbar__gYPpE button img {
	height: calc(13px + 0.5vw + 5px);
}
.showcases__UhJnS p {
	font-size: calc(30px + 1vmin);
}
.ciphercontainer__NSqUO textarea {
    background-color: var(--w);
    color: var(--b);
    border-radius: 40px;
    box-shadow:  5px 5px 10px #1a1a1a,
                -5px -5px 10px #242424;
    border: none;
    padding: 15px 32px;
    resize: none;
    outline: none;
}
.ciphercontainer__NSqUO .arrow__tYCQh {
    font-size: 2.0em;
    color: var(--ht);
    font-weight: bold;
    margin: 0;
}
.ciphercontainer__NSqUO button {
    background-color: var(--t);
    border-radius: 40px;
    box-shadow:  5px 5px 10px #1a1a1a,
                 -5px -5px 10px #242424;
    border: none;
    color: var(--b);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 16px;
    transition: 0.15s;
}
.ciphercontainer__NSqUO button:active {
    transition: 0.15s;
    background-color: var(--ht);
    box-shadow:  2px 2px 4px #1a1a1a,
                 -2px -2px 4px #242424;
}
.keybutton__Wmt\+e {
    margin-left: 2% !important;
}
fieldset {
    margin: 0 auto;
    border-radius: 5px;
    width: 50%;
}
legend {
    margin: 0 auto;
}
.poemcontainer__gSEPI fieldset span {
    margin: 0 auto;
    display: table;
}
.poemcontainer__gSEPI {
    font-size: 25px;
}
.portfolio__Cz5s5 {
	
}
.home__TjhaP {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}
.bg__Po6T5 {
	height: 0;
}
.bg__Po6T5::after {
	height: 100px;
	background-color: #FFFFFF;
}
.errorbody__Cwt\+z {
    background-color: var(--b);
    color: var(--w);
    display: grid;
    text-align: center;
    padding: 10%;
}
.errorbody__Cwt\+z .title__zaIng {
    font-size: 50px;
}
.errorbody__Cwt\+z .text__hdvbm {
    font-size: 20px !important;
}
.errorbody__Cwt\+z .link__XeQ17:link {
    color: var(--w);
}
.link__XeQ17:visited {
    color: var(--w);
}
.link__XeQ17:hover {
    color: var(--w);
}


/*# sourceMappingURL=ssr-bundle.280f2.css.map*/